---
import Image from "astro/components/Image.astro";
import Image1 from "../assets/images/IMG_1622.webp";
import Image2 from "../assets/images/acupuncture.webp";
import Image3 from "../assets/images/IMG_1621.webp";
import Image4 from "../assets/images/IMG_1616.webp";
import Image5 from "../assets/images/IMG_1612.webp";
import Image6 from "../assets/images/IMG_1613.webp";
---

<div
  class="all-div flex self-stretch pt-9 lg:pb-80 pb-24 justify-center items-center bg-components"
>
  <div class="flex flex-col items-center gap-6">
    <h1 class="heading">Serviciile noastre</h1>
    <div>
      <div
        class="flex flex-col justify-center items-center self-stretch gap-2.5"
      >
        <div
          class="grd-cols-1 md:grid-cols-2 lg:grid-cols-3 grid justify-center items-center gap-6"
        >
          <div class="image-contaier overflow-hidden relative lg:mb-11">
            <Image
              src={Image1}
              alt="Imagine cu Fizioterapie"
              class="w-full h-full object-cover brightness-80"
            />
            <div class="absolute p-4 text-service">Fizioterapie</div>
            <a
              href="/servicii#contact"
              class="absolute bottom-4 justify-self-center lg:justify-self-auto lg:left-20 btn-get text-white py-3 px-2 rounded-3xl text-sm flex gap-2"
            >
              <p class="text-btn">Solicită o ședință</p>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="12"
                height="12"
                viewBox="0 0 12 12"
                fill="none"
              >
                <path
                  d="M3.75 10.5L8.25 6L3.75 1.5"
                  stroke="white"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path>
              </svg>
            </a>
          </div>
          <div class="image-contaier overflow-hidden relative lg:mb-11">
            <Image
              src={Image2}
              alt="Imagine cu Fizioterapie"
              class="w-full h-full object-cover brightness-80"
            />
            <div class="absolute p-4 text-service-2">Dry needling</div>
            <a
              href="/servicii#contact"
              class="absolute bottom-4 justify-self-center lg:justify-self-auto lg:left-20 btn-get text-white py-3 px-2 rounded-3xl text-sm flex gap-2"
            >
              <p class="text-btn">Solicită o ședință</p>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="12"
                height="12"
                viewBox="0 0 12 12"
                fill="none"
              >
                <path
                  d="M3.75 10.5L8.25 6L3.75 1.5"
                  stroke="white"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path>
              </svg>
            </a>
          </div>
          <div class="image-contaier overflow-hidden relative lg:mb-11">
            <Image
              src={Image3}
              alt="Imagine cu Fizioterapie"
              class="w-full h-full object-cover brightness-80"
            />
            <div class="absolute p-4 text-service-3">Chiropractica</div>
            <a
              href="/servicii#contact"
              class="absolute bottom-4 justify-self-center lg:justify-self-auto lg:left-20 btn-get text-white py-3 px-2 rounded-3xl text-sm flex gap-2"
            >
              <p class="text-btn">Solicită o ședință</p>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="12"
                height="12"
                viewBox="0 0 12 12"
                fill="none"
              >
                <path
                  d="M3.75 10.5L8.25 6L3.75 1.5"
                  stroke="white"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path>
              </svg>
            </a>
          </div>

          <div class="image-contaier overflow-hidden relative">
            <Image
              src={Image4}
              alt="Imagine cu Fizioterapie"
              class="w-full h-full object-cover brightness-80"
            />
            <div class="absolute p-4 text-service">Kinetoterapie</div>
            <a
              href="/servicii#contact"
              class="absolute bottom-4 justify-self-center lg:justify-self-auto lg:left-20 btn-get text-white py-3 px-2 rounded-3xl text-sm flex gap-2"
            >
              <p class="text-btn">Solicită o ședință</p>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="12"
                height="12"
                viewBox="0 0 12 12"
                fill="none"
              >
                <path
                  d="M3.75 10.5L8.25 6L3.75 1.5"
                  stroke="white"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path>
              </svg>
            </a>
          </div>
          <div class="image-contaier overflow-hidden relative">
            <Image
              src={Image5}
              alt="Imagine cu Fizioterapie"
              class="w-full h-full object-cover brightness-80"
            />
            <div class="absolute p-4 text-service-2">Masaj cu Venture</div>
            <a
              href="/servicii#contact"
              class="absolute bottom-4 justify-self-center lg:justify-self-auto lg:left-20 btn-get text-white py-3 px-2 rounded-3xl text-sm flex gap-2"
            >
              <p class="text-btn">Solicită o ședință</p>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="12"
                height="12"
                viewBox="0 0 12 12"
                fill="none"
              >
                <path
                  d="M3.75 10.5L8.25 6L3.75 1.5"
                  stroke="white"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path>
              </svg>
            </a>
          </div>
          <div class="image-contaier overflow-hidden relative">
            <Image
              src={Image6}
              alt="Imagine cu Fizioterapie"
              class="w-full h-full object-cover brightness-80"
            />
            <div
              class="absolute p-4 text-service-4 flex flex-col items-center justify-center"
            >
              <p>Masaj Mixt</p>
              <span class="small-text">
                Masaj Therapeutic, Masaj de relaxare, Masaj anticelulitic</span
              >
            </div>
            <a
              href="/servicii#contact"
              class="absolute bottom-4 justify-self-center lg:justify-self-auto lg:left-20 btn-get text-white py-3 px-2 rounded-3xl text-sm flex gap-2"
            >
              <p class="text-btn">Solicită o ședință</p>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="12"
                height="12"
                viewBox="0 0 12 12"
                fill="none"
              >
                <path
                  d="M3.75 10.5L8.25 6L3.75 1.5"
                  stroke="white"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div
      class="flex flex-col justify-center items-center gap-6 pt-14 max-w-3/4 container-like"
    >
      <h3 class="not-text mb-14">
        Nu regăsești cerinta ta specifică în listă? Contactează-ne pentru o
        evaluare personalizată și un plan de tratament adaptat nevoilor tale!
      </h3>
      <a
        href="/servicii#contact"
        class="inline-flex justify-center items-center gap-2 py-6 px-3 btn-get rounded-3xl"
      >
        <p class="text-med">Solicită o ședință</p>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="12"
          height="12"
          viewBox="0 0 12 12"
          fill="none"
        >
          <path
            d="M3.75 10.5L8.25 6L3.75 1.5"
            stroke="white"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
        </svg></a
      >
    </div>
  </div>
</div>
<div class="margin-1"></div>
<div class="margin-2"></div>

<style>
  button:hover {
    background: var(--primary-hover);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  }

  .all-div {
    padding-top: 120px;
  }
  .margin-1 {
    background-color: var(--components);
    border-bottom: 1px solid var(--PR1, #257d7f);
    height: 100px;
  }
  .margin-2 {
    background-color: var(--components);
    height: 100px;
  }

  .container-like {
    border-top: 1px solid var(--primary);
  }
  .text-med {
    color: var(--text);
    font-size: 16px;
    font-weight: 700;
    line-height: 12px; /* 75% */
  }
  .not-text {
    color: var(--backgroundGrey);
    text-align: center;
    font-size: 24px;
    font-weight: 200;
    line-height: normal;
  }
  .small-text {
    color: var(--text);
    font-size: 12px;
    font-weight: 200;
    line-height: normal;
  }
  .text-btn {
    color: var(--text);
    font-size: 12px;
    font-weight: 600;
    line-height: 12px; /* 100% */
  }
  .btn-get {
    background-color: var(--primary);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
  .image-contaier {
    width: 300px;
    height: 300px;
    contain: content;
    border-radius: 24px;
    border: 1px solid var(--primary);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
  @media only screen and (max-width: 1024px) {
    .image-contaier {
      width: 200px !important;
      height: 200px !important;
    }
  }
  .text-service {
    bottom: 120px;
    left: 10px;
    color: var(--text);
    text-align: center;
    font-size: 24px;
    font-weight: 300;
    line-height: normal;
  }
  .text-service-4 {
    bottom: 120px;
    color: var(--text);
    text-align: center;
    font-size: 24px;
    font-weight: 300;
    line-height: normal;
  }
  .text-service-2 {
    bottom: 120px;
    right: 10px;
    color: var(--text);
    text-align: center;
    font-size: 24px;
    font-weight: 300;
    line-height: normal;
  }
  .text-service-3 {
    bottom: 120px;
    left: 50px;
    color: var(--text);
    text-align: center;
    font-size: 24px;
    font-weight: 300;
    line-height: normal;
  }

  .heading {
    color: var(--text);
    text-align: center;
    font-size: 40px;
    font-weight: 175;
    line-height: normal;
    letter-spacing: -0.205px;
  }
  @media only screen and (max-width: 1024px) {
    .heading {
      font-size: 32px;
    }
    .text-service,
    .text-service-2,
    .text-service-3,
    .text-service-4 {
      font-size: 14px !important;

      right: 0 !important;
      text-align: center !important;
      bottom: 0 !important;
      left: 0 !important;
      justify-self: center;
      align-self: anchor-center;
    }
    button {
      width: max-content;
    }
    .text-btn {
      font-size: 10px !important;
    }
  }
  .bg-components {
    background-color: var(--components);
  }
</style>
